

<section id="agenda" class="agenda">
    <div class="agenda__header">
    {% if agenda.Keywords %}
        <div class="agenda__header-search">
            <span class="agenda__header-search-icon show-filters">Filters {% include 'partial/svg/arrow-down.svg' %}</span>
            <div class="agenda-filters">
                <span class="close-filters show-filters">Close</span>
                <div class="agenda-filters__inner">
                    <div class="agenda-filter">
                        <input type="checkbox" name="growth" value=".growth" id=""><label for="growth">Growth</label>
                    </div>
                    <div class="agenda-filter">
                        <input type="checkbox" name="human-capital" value=".human-capital" id=""><label for="human-capital">Human Capital</label>
                    </div>
                    <div class="agenda-filter">
                        <input type="checkbox" name="technology" value=".technology" id=""><label for="technology">Technology</label>
                    </div>
                    <div class="agenda-filter">
                        <input type="checkbox" name="custody" value=".custody" id=""><label for="custody">Custody</label>
                    </div>
                    <div class="agenda-filter">
                        <input type="checkbox" name="trading" value=".trading" id=""><label for="trading">Trading</label>
                    </div>
                    <div class="agenda-filter">
                        <input type="checkbox" name="innovation" value=".innovation" id=""><label for="innovation">Innovation</label>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="agenda__wrapper">
        <div class="agenda__left">
            <div class="agenda__days">
                {% for day in agenda.Items %}
                    <div class="agenda-day" data-day="{{day.Date|date("j")-1}}">
                        <span class="agenda-day__month">{{day.Date|date("M")}}</span>
                        <span class="agenda-day__number">{{day.Date|date("j")-1}}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="agenda__right">

        {% for day in agenda.Items %}
            <div class="agenda__day-wrapper" data-day="{{day.Date|date("j")-1}}">
                <div class="agenda__events-header">
                    <span>{{day.Date|date("l, F")}} {{day.Date|date("j")-1}} {{day.Date|date("Y")}}</span>
                </div>
                <div class="agenda__events">
                    {% for session in day.Sessions %}
                    <div class="event technology trading strategy">
                        <span class="event__time">{{session.Time}}</span>
                        {% if session.Title %}
                            <span class="event__sessiontitle">{{session.Title}}</span>
                        {% endif %}
                        {% for item in session.Items %}
                            <span class="event__title">{{item.Title}}</span>
                            {% if item.Description %}
                                <span class="event__desc">{{item.Description}} {% include 'partial/svg/arrow-forward.svg' with {className: 'agenda-arrow--large'} %} </span>
                            {% endif %}
                            {# <div class="event__tag-wrapper">
                                <span class="event__tag">Technology</span>
                                <span class="event__tag">Trading</span>
                                <span class="event__tag">Strategy</span>
                            </div> #}
                        {% endfor %}
                        <div class="event__arrow">
                            {% include 'partial/svg/arrow-forward.svg' with {className: 'agenda-arrow--small'} %}
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
            {% endfor %}

            
        </div>
    </div>
</section>