

<section id="agenda" class="agenda">
    <div class="agenda__header">
    {% if agenda.Keywords %}
        <div class="agenda__header-search">
            <span class="agenda__header-search-icon show-filters">Filters {% include 'partial/svg/arrow-down.svg' %}</span>
            <div class="agenda-filters">
                <span class="close-filters show-filters">Close</span>
                <div class="agenda-filters__inner">
                    <div class="agenda-filter">
                        <input type="checkbox" name="growth" value=".growth" id=""><label for="growth">Growth</label>
                    </div>
                    <div class="agenda-filter">
                        <input type="checkbox" name="human-capital" value=".human-capital" id=""><label for="human-capital">Human Capital</label>
                    </div>
                    <div class="agenda-filter">
                        <input type="checkbox" name="technology" value=".technology" id=""><label for="technology">Technology</label>
                    </div>
                    <div class="agenda-filter">
                        <input type="checkbox" name="custody" value=".custody" id=""><label for="custody">Custody</label>
                    </div>
                    <div class="agenda-filter">
                        <input type="checkbox" name="trading" value=".trading" id=""><label for="trading">Trading</label>
                    </div>
                    <div class="agenda-filter">
                        <input type="checkbox" name="innovation" value=".innovation" id=""><label for="innovation">Innovation</label>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="agenda__wrapper">
        <div class="agenda__left">
            <div class="agenda__days">
                {% for day in agenda.Items %}
                    <div class="agenda-day" data-day="{{day.Date|date("j")-1}}">
                        <span class="agenda-day__month">{{day.Date|date("M")}}</span>
                        <span class="agenda-day__number">{{day.Date|date("j")-1}}</span>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="agenda__right">

        {% for day in agenda.Items %}
            <div class="agenda__day-wrapper" data-day="{{day.Date|date("j")-1}}">
                <div class="agenda__events-header">
                    <span>{{day.Date|date("l, F")}} {{day.Date|date("j")-1}} {{day.Date|date("Y")}}</span>
                </div>
                <div class="agenda__events">
                    {% for session in day.Sessions %}
                        {% for item in session.Items %}
                        <div class="event technology trading strategy">
                            <span class="event__time">{{session.Time}}</span>
                            <span class="event__title">{{item.Title}}</span>

                            {% if item.Description %}
                                {# <div class="event__desc mobile-desc">
                                    <h3>{{item.Title}}</h3>
                                    <p>{{item.Description}}</p>
                                    {% if item.Speakers %}
                                    <div class="mobile-desc__speakers">
                                        <div class="mobile-desc__left">Speakers</div>
                                        <div class="mobile-desc__right">
                                        {% for speaker in item.Speakers %}
                                        <span>{{ speaker.FirstName }}</span>
                                        {% endfor %}
                                        </div>

                                    </div>
                                    {% endif %}
                                    {% if item.Keywords %}
                                        {% for keyword in item.Keywords %}
                                        <span>{{keyword}}</span>
                                        {% endfor %}
                                    {% endif %}
                                    {% if item.Room %}
                                    <span>{{item.Room}}</span>
                                    {% endif %}

                                </div> #}
                                <div class="event__desc mobile-desc">
                                    <div class="mobile-desc__header">
                                        <span class="mobile-desc__close">{% include 'partial/svg/chevron-right.svg' %} Agenda</span>
                                    </div>

                                    <div class="mobile-desc__inner">
                                        <h3 class="mobile-desc__title">{{item.Title}}</h3>

                                        {% if item.Room %}
                                        <div class="mobile-desc__container">
                                            <p class="mobile-desc__sub">Room</p>
                                            <span>{{item.Room}}</span>
                                        </div>
                                        {% endif %}

                                        <div class="mobile-desc__container">
                                            <p class="mobile-desc__sub">Description</p>
                                            <p class="mobile-desc__desc">{{item.Description}}</p>
                                        </div>

                                        {% if item.Speakers %}
                                        <div class="mobile-desc__container">
                                            <p class="mobile-desc__sub">Speakers</p>
                                            <div class="mobile-desc__speakers-container">
                                                {% for speaker in item.Speakers %}
                                                <span class="mobile-desc__speaker">{{speaker.FirstName}}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% endif %}

                                        {% if itemn.Keywords %}
                                        <div class="mobile-desc__container">
                                            <p class="mobile-desc__sub">Keywords</p>
                                            <div class="mobile-desc__keywords-container">
                                            {% for keyword in item.Keywords %}
                                                <span class="mobile-desc__keyword">{{keyword}}</span>
                                            {% endfor %}
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>

                                </div>
                                <div class="event__arrow">
                                    {% include 'partial/svg/chevron-right.svg' with {className: 'agenda-arrow--large'} %}
                                </div>
                            {% endif %}
                            {# <div class="event__tag-wrapper">
                                <span class="event__tag">Technology</span>
                                <span class="event__tag">Trading</span>
                                <span class="event__tag">Strategy</span>
                            </div> #}
                        </div>
                        {% endfor %}

                    {% endfor %}

                </div>
            </div>
        {% endfor %}


        </div>
    </div>
</section>