

<section id="agenda" class="agenda">
    <div class="agenda__header">
    {% if agenda.Keywords %}
        <div class="agenda__header-search">
            <span class="agenda__header-search-icon show-filters">Filters {% include 'partial/svg/arrow-down.svg' %}</span>
            <div class="agenda-filters">
                <span class="close-filters">Close</span>
                <div class="agenda-filters__inner">
                    {% for keyword in agenda.Keywords %}
                    <div class="agenda-filter">
                        <input type="checkbox" name="{{keyword|replace(' ', '-')|lower}}" value=".{{keyword|replace(' ', '-')|lower}}" id=""><label for="{{keyword|replace(' ', '-')|lower}}">{{keyword}}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="agenda__wrapper">
        <div class="agenda__left">
            <div class="agenda__days">
                {% for day in agenda.Items %}
                    <div class="agenda-day" data-day="{{day.Date|date("j")-1}}">
                        <span class="agenda-day__month">{{day.Date|date("M")}}</span>
                        <span class="agenda-day__number">{{day.Date|date("j")-1}}</span>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="agenda__right">
     
        {% for day in agenda.Items %}
            <div class="agenda__day-wrapper" data-day="{{day.Date|date("j")-1}}">
                <div class="agenda__events-header">
                    <span>{{day.Date|date("l, F")}} {{day.Date|date("j")-1}}, 2019</span>
                </div>
                <div class="agenda__events">
                    {% for session in day.Sessions %}
                        {% for item in session.Items %}
                        <div class="event{% if item.Keywords %}{% for keyword in item.Keywords %} {{keyword|replace(' ', '-')|lower}}{% endfor %}{% endif %}">
                            <span class="event__time">{{session.Time}}</span>
                            <span class="event__title">{{item.Title}}</span>

                            {% if item.Description != item.Title %}
                                <div class="event__desc mobile-desc">
                                    <div class="mobile-desc__header">
                                        <span class="mobile-desc__close">{% include 'partial/svg/chevron-right.svg' %} Agenda</span>
                                    </div>

                                    <div class="mobile-desc__inner">
                                        <h3 class="mobile-desc__title">{{item.Title}}</h3>

                                        {% if item.Room %}
                                        <div class="mobile-desc__container">
                                            <p class="mobile-desc__sub">Room</p>
                                            <span>{{item.Room}}</span>
                                        </div>
                                        {% endif %}

                                        <div class="mobile-desc__container">
                                            <p class="mobile-desc__sub">Description</p>
                                            <p class="mobile-desc__desc">{{item.Description}}</p>
                                        </div>

                                        {% if item.Speakers %}
                                        <div class="mobile-desc__container">
                                            <p class="mobile-desc__sub">Speakers</p>
                                            <div class="mobile-desc__speakers-container">
                                                {% for speaker in item.Speakers %}
                                                <span class="mobile-desc__speaker">{{speaker.FirstName}}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if item.CreditInfo %}
                                             <div class="mobile-desc__container">
                                            <p class="mobile-desc__sub">Credits: </p>
                                            <span>{{item.CreditInfo}}</span>
                                        </div>
                                        {% endif %}

                                        {% if item.Keywords %}
                                        <div class="mobile-desc__container">
                                            <p class="mobile-desc__sub">Keywords</p>
                                            <div class="mobile-desc__keywords-container">
                                            {% for keyword in item.Keywords %}
                                                <span class="mobile-desc__keyword">{{keyword}}</span>
                                            {% endfor %}
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>

                                </div>
                                <div class="event__arrow">
                                    {% include 'partial/svg/chevron-right.svg' with {className: 'agenda-arrow--large'} %}
                                </div>
                            {% endif %}
                            {% if item.Keywords %}
                            <div class="event__tag-wrapper">
                                {% for keyword in item.Keywords %}
                                <span class="event__tag">{{keyword}}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}

                    {% endfor %}

                </div>
            </div>
        {% endfor %}


        </div>
    </div>
</section>