{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header id="header" class="header {% if fn('is_front_page') == false %}slim{% endif %}" >
			{% block header %}
				<div class="header__wrapper">
					<div class="header__logo">
						<a class="header__logo-link" href="{{site.link}}">
							{% include 'partial/svg/large-logo.svg' %}
							{% include 'partial/svg/mobile-logo.svg' %}
						</a>
						<p class="header__logo--tagline">TD Ameritrade’s Advisor Conference</p>
					</div>
					<div class="header__icon">
						<div class="menu-icon">
							<div class="menu-icon--bar"></div>
							<div class="menu-icon--bar"></div>
							<div class="menu-icon--bar"></div>
						</div>
					</div>
					<div class="header__menu">
						{% include 'partial/large-nav.twig' %}
					</div>
					<div class="header__social">
						<div class="header__social-links">
							<a href="https://www.facebook.com/TDAmeritradeInstitutional/">
								{% include 'partial/svg/facebook.svg' %}
							</a>
							<a href="https://twitter.com/TDA4advisors">
								{% include 'partial/svg/twitter.svg' %}
							</a>
							<a href="http://www.linkedin.com/company/tdameritradeinstitutional">
								{% include 'partial/svg/linkedin.svg' %}
							</a>
							<a href="http://youtube.com/tda4advisors">
								{% include 'partial/svg/youtube.svg' %}
							</a>
							{# {% include 'partial/svg/instagram.svg' %} #}
						</div>
						<p>#NationalLINC</p>
					</div>
					<div class="header__td-logo">
						<a href="http://www.tdainstitutional.com/">
							{% include 'partial/svg/tdai-logo-2.svg' %}
						</a>
					</div>
				</div>
			{% endblock %}
		</header>

		{% include 'partial/slide-menu.twig' %}
		{% include 'partial/mobile-nav.twig' %}

		<section id="content" role="main" class="content-wrapper">
			{% include 'partial/the-flag.twig' %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</section>

		{% block footer %}
			<footer id="footer" class="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

		<script src="{{ site.theme.link }}/js/compiled/vendors.min.js"></script>
		<script src="{{ site.theme.link }}/js/compiled/site.min.js"></script>

		<script src="{{ site.theme.link }}/js/compiled/homeHacks.min.js"></script>

		{% if post.title == 'Home' %}
            <script src="{{ site.theme.link }}/js/compiled/slider.min.js"></script>
        {% endif %}

		{% if post.title == 'Business Consulting Lounge' %}
            <script src="{{ site.theme.link }}/js/compiled/topics.min.js"></script>
        {% endif %}

		{% if post.title == 'Agenda' %}
            <script src="{{ site.theme.link }}/js/compiled/agenda.min.js"></script>
        {% endif %}

		{% if post.title == 'Speakers' %}
            <script src="{{ site.theme.link }}/js/compiled/speakers.min.js"></script>
        {% endif %}

		<script>
			/**
			*   Modal suprise
			*/
			var modalBtn = document.querySelector('.js-tingle-modal');
			modalBtn.addEventListener('click', function(){
				var modalSurprise = new tingle.modal({
					onClose: function(){
						modalSurprise.destroy();
					}
				});
				modalSurprise.setContent('<iframe width="100%" height="400" src="https://www.youtube.com/embed/Vyi8x02GRuI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>');
				modalSurprise.open();
			});
		</script>

		{% if post.title == 'Home' %}
			<script>
			var carousel = document.querySelector('.home-carousel');
				var flkty = new Flickity( carousel, {
					prevNextButtons: true,
					pageDots: true,
					percentPosition: false,
					arrowShape: {
						x0: 10,
						x1: 60,
						y1: 50,
						x2: 60,
						y2: 45,
						x3: 15
					}
				});
				{# var imgs = document.querySelectorAll('.carousel-cell__img'); #}

				{# flkty.on( 'scroll', function() {
					flkty.slides.forEach( function( slide, i ) {
						var img = imgs[i];
						var x = ( slide.target + flkty.x ) * -1/3;
						img.style.transform = 'translateX(' + x  + 'px)';
					});
				}); #}

				{# flkty.on( 'settle', function( index ) {
					console.log( index);
				}); #}

			</script>
		{% endif %}


	</body>
</html>