{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<section class="blur">
	</section>
	<body class="{{body_class}} loading blur" data-template="base.twig">
		<header id="header" class="header {% if fn('is_front_page') == false %}slim{% endif %}" >
			{% block header %}
				<div class="header__wrapper">
					<div class="header__logo">
						<a class="header__logo-link" href="{{site.link}}">
							{% include 'partial/svg/large-logo.svg' %}
							{% include 'partial/svg/mobile-logo.svg' %}
						</a>
					</div>
					<div class="header__icon">
						<div class="menu-icon">
							<div class="menu-icon--bar"></div>
							<div class="menu-icon--bar"></div>
							<div class="menu-icon--bar"></div>
						</div>
					</div>
					<div class="header__menu">
						{% include 'partial/large-nav.twig' %}
					</div>
					<div class="header__social">
						<div class="header__social-links">
							<a href="https://www.facebook.com/TDAmeritradeInstitutional/">
								{% include 'partial/svg/facebook.svg' %}
							</a>
							<a href="https://twitter.com/TDA4advisors">
								{% include 'partial/svg/twitter.svg' %}
							</a>
							<a href="http://www.linkedin.com/company/tdameritradeinstitutional">
								{% include 'partial/svg/linkedin.svg' %}
							</a>
							<a href="http://youtube.com/tda4advisors">
								{% include 'partial/svg/youtube.svg' %}
							</a>
							{# {% include 'partial/svg/instagram.svg' %} #}
						</div>
						<a href="https://twitter.com/hashtag/nationallinc?lang=en">#NationalLINC</a>
					</div>
					<div class="header__td-logo">
						<a href="http://www.tdainstitutional.com/">
							{% include 'partial/svg/tdai-logo-2.svg' %}
						</a>
					</div>
				</div>
			{% endblock %}
		</header>

		{% include 'partial/slide-menu.twig' %}
		{% include 'partial/mobile-nav.twig' %}

		<section id="barba-wrapper" role="main" class="content-wrapper">
			{% include 'partial/the-flag.twig' %}
			<div class="wrapper {{sidebar_class}} barba-container" data-namespace="{{post.slug}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</section>

		{% block footer %}
			<footer id="footer" class="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

		<script src="{{ site.theme.link }}/js/compiled/vendors.min.js"></script>
		<script src="{{ site.theme.link }}/js/compiled/site.min.js"></script>
	</body>
</html>