{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper home-wrapper">
        {# <div class="home-hero">
            <div class="home-hero__content">
                {{post.get_field('home_hero_copy')}}
            </div>
            <div class="home-hero__img">
                <img src="{{function('wp_get_attachment_image_url', TimberImage(post.get_field('home_hero_image')).id, 'medium')}}"
                                srcset="{{function('wp_get_attachment_image_srcset', TimberImage(post.get_field('home_hero_image')).id, 'medium' )}}"
                                sizes="100vw" alt="Post thumbnail">
            </div>
            <div class="pattern home-hero__pattern"></div>
            <div class="home-hero__cta">
                {% include 'partial/svg/play-btn.svg' %}
                <span>Watch last year's video</span>
            </div>
        </div> #}
        {% include '/partial/homeHero.twig' %}

        <div class="overlap home-agenda">
            <div class="guide-wrapper">
                <div class="guide home-agenda__guide"></div>
            </div>
            <h1 class="overlap__heading">
                {{post.get_field('home_agenda_heading')}}
            </h1>
            <div class="overlap__content">
                <div class="overlap__img" style="background-image: url('{{ TimberImage(post.get_field('home_agenda_image')).src }}')"></div>
                <div class="overlap__copy">
                    {{post.get_field('home_agenda_content')}}
                    <a href="{{site.link}}/agenda" class="cta overlap__cta">
                        <span>View agenda</span>
                        {% include 'partial/svg/right-arrow.svg' %}
                    </a>
                </div>
            </div>
        </div>

        <div class="home-speakers">
            <h1 class="home-speakers__heading">Speakers</h1>
            <div class="pattern home-speakers__pattern"></div>
            <div class="slider slider--speakers">
                <div class="slider__wrapper">
                    {% for speaker in speakers %}
                        {% if speaker.home %}
                            <div class="slide{% if loop.first %} active{% endif %}">
                                <div class="slide__img">
                                    <div class="slide__img--inner" style="background-image: url('{{TimberImage(speaker.image)}}')"></div>
                                </div>
                                <div class="slide__content">
                                    <h1 class="slide__content-name">{{speaker.name}}</h1>
                                    <p class="slide__content-title">{{speaker.position}}</p>
                                    <p class="slide__content-about">{{speaker.bio|slice(0,250) ~ '...'}}</p>
                                    <a href="{{speaker.link}}" class="cta slide__content-cta">
                                        <span>Read more</span>
                                        {% include 'partial/svg/right-arrow.svg' %}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="slide__nav">
                    <div class="slide__nav-inner">
                        <div class="slide__nav-btn slide__nav-btn--prev">
                            <span>prev</span>
                            {% include 'partial/svg/left-arrow.svg' %}
                        </div>
                        <div class="slide__nav-btn slide__nav-btn--next">
                            <span>next</span>
                            {% include 'partial/svg/right-arrow.svg' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="overlap home-venue">
            <div class="guide-wrapper">
                <div class="guide"></div>
            </div>
            <h1 class="overlap__heading">
                {{post.get_field('home_venue_heading')}}
            </h1>
            {% include 'partial/svg/knockout.svg' %}
            <div class="overlap__content">
                <div class="overlap__img overlap__img--venue" style="background-image: url('{{ TimberImage(post.get_field('home_venue_image')).src }}')"></div>
                <div class="overlap__copy overlap__copy--venue">
                    {{post.get_field('home_venue_content')}}
                    <a href="{{site.link}}/hotel-travel" class="cta overlap__cta">
                        <span>Learn more</span>
                        {% include 'partial/svg/right-arrow.svg' %}
                    </a>
                </div>
            </div>
        </div>

        <div class="home-sponsors">
            <div class="pattern home-sponsors__pattern"></div>
            <div class="guide-wrapper">
                <div class="guide home-sponsors__guide"></div>
            </div>
            <h1 class="home-sponsors__heading">
                Our sponsors
            </h1>
            <div class="home-sponsors__wrapper">
                <div class="home-sponsors__sponsor">
                    <img src="{{site.link}}/wp-content/themes/linc2019/assets/img/wisdom tree@2x@2x.png" alt="">
                </div>
                <div class="home-sponsors__sponsor">
                    <img src="{{site.link}}/wp-content/themes/linc2019/assets/img/wisdom tree@2x@2x.png" alt="">
                </div>
                <div class="home-sponsors__sponsor">
                    <img src="{{site.link}}/wp-content/themes/linc2019/assets/img/wisdom tree@2x@2x.png" alt="">
                </div>
                <div class="home-sponsors__sponsor">
                    <img src="{{site.link}}/wp-content/themes/linc2019/assets/img/wisdom tree@2x@2x.png" alt="">
                </div>
                <div class="home-sponsors__sponsor">
                    <img src="{{site.link}}/wp-content/themes/linc2019/assets/img/wisdom tree@2x@2x.png" alt="">
                </div>
                <div class="home-sponsors__sponsor">
                    <img src="{{site.link}}/wp-content/themes/linc2019/assets/img/wisdom tree@2x@2x.png" alt="">
                </div>
                <div class="home-sponsors__sponsor">
                    <img src="{{site.link}}/wp-content/themes/linc2019/assets/img/wisdom tree@2x@2x.png" alt="">
                </div>
                <div class="home-sponsors__sponsor">
                    <img src="{{site.link}}/wp-content/themes/linc2019/assets/img/wisdom tree@2x@2x.png" alt="">
                </div>
                <div class="home-sponsors__sponsor">
                    <img src="{{site.link}}/wp-content/themes/linc2019/assets/img/wisdom tree@2x@2x.png" alt="">
                </div>
            </div>
            <div class="home-sponsors__cta">
                <a href="{{site.link}}/sponsors" class="cta">
                    <span>View all</span>
                    {% include 'partial/svg/right-arrow.svg' %}
                </a>
            </div>
        </div>
	</div><!-- /content-wrapper -->
{% endblock %}