{% if large_menu %}
	<ul class="{{className}}">
	{% for item in large_menu %}
        <li class="nav-menu__item">
        	<a class="nav-link nav-link--large {{ item.classes|join(' ') }}" target="{{ item.target }}" href="{{ item.link }}">
			{{ item.title|title }}
			{% if item.link == '#' %}
				{% include 'partial/svg/arrow-forward.svg' with {className: 'side-arrow'} %}
			{% endif %}
		</a>
        </li>
	{% endfor %}
	</ul>
{% endif %}



