<div class="slide-menu">

    <div class="slide-menu__back">
        {% include 'partial/svg/back-arrow.svg' %}
        <span>Close</span>
    </div>

    {% if slide_menu %}
        <ul class="nav-menu nav-menu--slide">
        {% for item in slide_menu.items %}
            <li class="nav-menu__item nav-menu__item--slide">
                <a class="nav-link nav-link--slide {{ item.classes|join(' ') }}" target="{{ item.target }}" href="{{ item.link }}">{{ item.title|title }}</a>
                {% if item.children %}
                    <ul class="nav-menu nav-menu__slide">
                        {% for child in item.children %}
                            <li class="nav-menu__item nav-menu__item--slide">
                                <a href="{{child.link}}" class="nav-link nav-link--slide"> {{child.title|title}} </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

</div>